<!doctype html>

<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <style>
      nav.head {
        background: transparent !important;
      }
      a.head2 {
        style="color:white;" !important;
        font-family: "Open Sans" !important;
        background-color: transparent !important;
        font-size: 200% !important;
      }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <!--<link rel="stylesheet" href="/assets/css/styles.css">-->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav class="head">
          <a class="head2" href="{{https://ac01010.github.io/BirdSO/}}">Main</a>
          <a class="head2" href="https://ac01010.github.io/BirdSO/about">About</a>
          <a class="head2" href="https://ac01010.github.io/BirdSO/team">Team</a>
          <a class="head2" href="https://ac01010.github.io/BirdSO/tournament">Tournament</a>
          <a class="head2" href="https://ac01010.github.io/BirdSO/contact">Contact</a>
          </div>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
        </div>

        {{ content }}

      </section>

    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
